<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="Username" value="abs_certification" />
    <add key="Password" value="n8pov6a" />
    <add key="ClientID" value="" />
    <add key="ProtocolVersion" value="2015-07b" />
    <add key="ServerUrl" value="https://interfaces.peer.biz/alpinebits/" />
    <add key="BGZIPReturn" value="yes" />
    <add key="BGZIPSend" value="no" />
    <add key="HotelCode" value="54908" />
    <add key="Action" value="OTA_Read:GuestRequests" />
    <add key="Request" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#xA;&lt;OTA_HotelRatePlanNotifRQ xmlns=&quot;http://www.opentravel.org/OTA/2003/05&quot; Version=&quot;6.000&quot; TimeStamp=&quot;2014-08-04T11:06:38&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xsi:schemaLocation=&quot;http://www.opentravel.org/OTA/2003/05 OTA_HotelRatePlanNotifRQ.xsd&quot;&gt;&#xA;  &lt;UniqueID Type=&quot;16&quot; ID=&quot;1&quot; Instane=&quot;CompleteSet&quot;/&gt;&#xA;  &lt;RatePlans HotelCode=&quot;{HOTELCODE}&quot;&gt;&#xA;    &lt;RatePlan RatePlanCode=&quot;TP-HP&quot;/&gt;&#xA;    &lt;RatePlan RatePlanCode=&quot;TP-FW&quot;/&gt;&#xA;    &lt;RatePlan RatePlanCode=&quot;WEEKEND&quot;/&gt;&#xA;    &lt;RatePlan RatePlanCode=&quot;FAMILY&quot;/&gt;&#xA;  &lt;/RatePlans&gt;&#xA;&lt;/OTA_HotelRatePlanNotifRQ&gt;&#xA;" />
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <connectionStrings>
 <add name="alpinebitsEntities" connectionString="metadata=res://*/rulemodel.csdl|res://*/rulemodel.ssdl|res://*/rulemodel.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=C:\C#\GenericAlpinebitsTestClient\AlpineBitsTestClient\alpinebits.sqlite3&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AlpineBitsTestClient.Properties.Settings.alpinebitsConnectionString"
      connectionString="data source=.\alpinebits.sqlite3" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
 
</configuration>
